
<h1>Add a new college</h1>

<form method='post'>
  <fieldset>
    <legend>College</legend>
    <label>Name</label>
    <input type="text" name="college[name]" placeholder="Type something…">
    <label>Type</label>
    <select name="college[type]">
      <option value="College">College</option>
      <option value="PPH">PPH</option>
    </select>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

